@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: poppins;
}

/* top */
.top{
    background-color: #7030cc;
    padding: 30px 60px;
    width: 92%;
    padding-bottom: 100px;
}
.top .header{
    display: flex;
}
.top .header .logo img{
    width: 90px;
}
.top .navbar .list{
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
}
.top .list li{
    list-style-type: none;
    font-weight: 300;
    font-size: 100;
    padding: 10px;
    margin-right: 15px;
    margin-left: 25px;
    color: #ffffff;
}
.top .list .active-item{
    color: #1bbcef; 
    border-bottom: 1px solid #ce6bde;

}
.top .list button{
    margin-left: 20px;
    padding: 0px 20px;
    background-color: #1bbcef;
    border: none;
    color: #ffffff;
}

.top .hero .left{
    width: 40%;
    float: left;
    color: #ffffff;
}
.top .hero .left h1{
    font-weight: bold;
    font-size: 65px;
    margin-top: 90px;
}
.top .hero .left h3{
    font-weight: lighter;
    font-size: 20px;
    margin-top: 30px;
}

.top .hero .right img{
    width: 53%;
    margin-left: 90px;
}

/* middle */

.middle {
    padding: 30px 60px;
    width: 92%;
    float: left;
}
.middle .left{
    float: left;
    width: 50%;
}
.middle .left img{
    float: left;
    width: 100%;
}
.middle .right{
    float: left;
    width: 28%;
    margin-top: 90px;
    margin-left: 90px;
}
.middle .right img{
    width: 5%;
    padding-right: 10px;
}
.middle .right h1{
    padding-bottom: 40px;
}
.middle .right h3{
    font-weight: bold;
    display: flex;
    padding: 20px 10px;
}
.middle .right h5{
    font-weight: lighter;
    padding-left: 40px;
}


/* bottom */


.bottom {
    padding: 30px 60px;
    width: 92%;
    float: left;
}
.bottom .up {
    padding-bottom: 30px;
}
.bottom .up h1{
    text-align: center;
}
.bottom .cards{
    float: left;
    width: 80%;
    padding: 10px 10px;
    padding-left: 270px;
}
.bottom .cards .card{
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 0px;
    padding-top: 30px;
    width: 17%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2.6px;
}
.bottom .cards .card svg{
    width: 40%;
}
.card-active{
    color: #ffffff;
    background-color: #6429b7;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.cards .card .box{
    padding: 10px 20px;
}
.bottom .cards .card p{
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
}
.box-1{
    display: block;
    z-index: -1;
    border-radius: 100%;
    padding: 20px 0px;
    margin: 20px 50px;
    background-color: #faeaeb;
}
.box-2{
    display: block;
    z-index: -1;
    border-radius: 100%;
    padding: 5px 0px;
    margin: 20px 50px;
    background-color: #fbf0ee;
}
.box-3{
    display: block;
    z-index: -1;
    border-radius: 100%;
    padding: 20px 0px;
    margin: 20px 50px;
    background-color: #e9f4f6;
}
.box-4{
    display: block;
    z-index: -1;
    border-radius: 100%;
    padding: 20px 0px;
    margin: 20px 50px;
    background-color: #f2e7f5;
}
